{% extends 'base.html' %}

{% block content %}
<form method="post">
    {% if failure %}
    <div class="form_section form_error">
        <label class="form_label">Connection failed. Please verify the parameters.</label>
    </div>
    {% endif %}
    <input type="hidden" name="connect_bridge">
    <div class="form_section">
        <label class="form_label">Moonraker</label>
        <input type="text" name="moonraker_address" placeholder="[ip_address]:7125" class="form_field"></input>
    </div>
    <div class="form_section">
        <label class="form_label">Serial</label>
        <input type="text" name="serial_port" class="form_field short_field" placeholder="/dev/ttyGS0"></input>
        <label class="form_label"> @ </label>
        <input type="text" list="baudrates" name="baudrate" class="form_field baud_field" placeholder="250000"></input>
        <datalist id="baudrates">
            <option>250000</option>
            <option>115200</option>
            <option>57600</option>
            <option>38400</option>
            <option>9600</option>
        </datalist>
    </div>
    <div class="form_section">
        <label class="form_label">P3 address (optional)</label>
        <input type="text" name="p3_address" placeholder="[ipaddress]:[port]" class="form_field"></input>
    </div>

    <div class="form_section connect">
        <button type="submit" class="btn connect_btn">Connect</button>
    </div>
</form>
{% endblock %}