body {
    background-color: black;
    color: white;
    border: 2px solid rgb(108, 108, 108);
    width: 800px;
}

h1 {
    font-weight: 500;
    font-size: 2rem;
    user-select: none;
    padding-left: 0.5em;
}

.btn {
    border: none;
    background: none;
    font-size: 1.75rem;
}

.form_section {
    background-color: rgb(53, 53, 53);
    border: 2px solid rgb(108, 108, 108);
    border-radius: 8px;
    padding: 0.9em 1.5em;
    width: 650px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 0.7em;
    margin-left: 0.7em;
}

.form_label {
    color: white;
    background: none;
    font-size: 1.75rem;
    background: none;
}

.form_field {
    color: rgb(187, 187, 187);
    text-align: right;
    background: none;
    font-size: 1.75rem;
    border: none;
}

.short_field {
    width: 340px;
}

.baud_field {
    text-align: left;
    width: 130px;
}

.baud_field::-webkit-calendar-picker-indicator {
    opacity: 100;
}

iframe {
    border: none;
    border-top: 2px solid rgb(108, 108, 108);
}

.connect {
    color: rgb(29, 188, 148);
    border: 2px solid rgb(29, 188, 148);
}

.connect_btn {
    color: rgb(29, 188, 148);
}

.disconnect {
    color: rgb(254, 65, 65);
}